[
    {snmpman, 
        [
            {java_node, 
                [
                    {java_com,
"c:/ProgramData/Oracle/Java/javapath/javaw.exe -cp java_bin/;java_lib/OtpErlang.jar;java_lib/snmp4j-2.3.1.jar io.sysmo.snmpm.Snmpman engineID.conf >snmpman4j.log 2>&1"
                    }
                ]
            }
        ]
    }

].
