[submodule "apps/j_server/priv/pping"]
	path = apps/j_server/priv/pping
	url = https://github.com/sysmo-nms/pping.git
[submodule "apps/j_server/priv/nchecks-base"]
	path = apps/j_server/priv/nchecks-base
	url = https://github.com/sysmo-nms/nchecks-base.git
