*.swp
*.beam
*.pid
*.dump
*.html
*.css
www/*.png
edoc-info
MEMO
var/tracker/targets_data/target-*
var/tracker/targets_db
var/sasl/sasl.log
lib/esnmp/priv/good_mibs
lib/esnmp/priv/all_mibs
lib/esnmp/priv/work
activity.log
*.bin
*.asn1db
*.script
*.boot
snmpm_config_db
snmpa_local_db1
*.bk
