*.swp
*.swo
*.beam
*.pid
*.dump
*.html
*.css
ebin
cfg/ssl/*.pem
doc
www/*.png
var/monitor/*
!var/monitor/README
var/mnesia/*.LOG
var/mnesia/*.DAT
var/mnesia/*.DCD
var/mnesia/*.DCL
MnesiaCore.*
*.tar.gz
lib/supercast/include/ModMonitor.hrl
edoc-info
activity.log
*.bin
*.asn1db
*.bk
*.db
*_db
*.log
sysmo.script
sysmo.boot
sysmo-win32*
lib/supercast/include/ModSupercast.hrl
lib/supercast/include/ModMonitor.hrl
sysmo.tar
*.plt
var/engineID.conf

var/docroot/tmp-*
var/docroot/nchecks/*.xml
lib/fcgisrv/priv/sysmo-webif/
lib/jars/*.jar
cfg/sysmo.cookie
cfg/nchecks/*.xml
lib/*/.gradle
lib/*/build

lib/*/.rebar
lib/*/ebin
rel/sysmo
.rebar
