# vim
*.swp
*.swo

# emacs
\#*\#
*~

# supercast repository
/src/sysmo/deps/supercast

# erlang crashs/builds
*.dump
.rebar/
ebin/
doc/

# gradle builds
.gradle/
build/

# go pping builds
/src/pping/pping
/src/pping/pping.exe

# sysmo release
/sysmo

# sysmo-worker release
/sysmo-worker

# local TODO files
*TODO*

# intellij
*.iml
.idea