{deps, [
    {supercast, ".*",
        {git, "https://github.com/supercastframework/supercast.git", {branch,master}}}
]}.

{relx,
    [
        {release, {sysmo, "0.1.0"},
            [sysmo, sasl, asn1, crypto, kernel, mnesia, public_key, ssl, xmerl]
        },
        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},
        {dev_mode, true},
        {include_erts, false},
        {extended_start_script, true},
        {overlay, [
            {copy,  "config/docroot", "docroot"},
            {mkdir, "docroot/sync"},
            {mkdir, "data"},
            {mkdir, "data/monitor"},
            {mkdir, "data/events"},
            {mkdir, "data/states"},
            {mkdir, "etc"},
            {mkdir, "etc/ssl"},
            {copy, "config/users.xml", "etc/users.xml"},
            {copy, "config/ssl/gen_certificates", "etc/ssl/gen_certificates"},
            {mkdir, "java_apps"},
            {copy, "apps/j_server/priv/jserver/sysmo-jserver/build/install/sysmo-jserver",
                "java_apps/sysmo-jserver"},
            {copy, "apps/j_server/priv/jserver/sysmo-jserver/sysmo.properties",
                "etc/sysmo.properties"},
            {copy, "apps/j_server/priv/jserver/shared/nchecks/nchecks-def",
                "docroot/nchecks"},
            {copy, "apps/j_server/priv/jserver/shared/nchecks/nchecks-def",
                "etc/nchecks"},
            {mkdir, "ruby"},
            {copy, "apps/j_server/priv/jserver/shared/nchecks/ruby",
                "ruby"},
            {mkdir, "utils"},
            {mkdir, "log/sasl"},
            {copy, "config/sys.config", "etc/app.config"},
            {copy, "config/vm.args", "etc/vm.args"},
            {template, "config/sysmo", "bin/sysmo"}

         ]}
    ]
}.

{profiles, [
    {prod, [
        {relx, [
            {dev_mode, false},
            {include_erts, true}
        ]}
    ]}
]}.
