%% -*- mode: erlang -*-
%% ex: ft=erlang
{sys, [
       {lib_dirs, []},
       {erts, [{mod_cond, derived}, {app_file, strip}]},
       {app_file, strip},
       {rel, "sysmo", "1.0",
        [
         kernel,
         stdlib,
         sasl,
         sysmo
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "sysmo"},
       {profile, embedded},
       {incl_cond, derived},
       {excl_archive_filters, [".*"]}, %% Do not archive built libs
       {excl_sys_filters, ["^bin/(?!start_clean.boot)",
                           "^erts.*/bin/(dialyzer|typer)",
                           "^erts.*/(doc|info|include|lib|man|src)"]},
       {excl_app_filters, ["\.gitignore"]},
       {app, sysmo, [{mod_cond, app}, {incl_cond, include},
                                            {lib_dir, "src/sysmo"}]},
       {app, monitor, [{mod_cond, app}, {incl_cond, include},
                                            {lib_dir, "src/sysmo/deps/monitor"}]},
       {app, j_server, [{mod_cond, app}, {incl_cond, include},
                                            {lib_dir, "src/sysmo/deps/j_server"}]},
       {app, supercast, [{mod_cond, app}, {incl_cond, include},
                                            {lib_dir, "src/sysmo/deps/supercast"}]},

       %% bad erlang hipe
       {app, hipe, [{incl_cond, exclude}]}

      ]}.

{target_dir, "sysmo"}.

{overlay, [
           % myfiles begin
           {mkdir, "docroot"},
           {mkdir, "docroot/sync"},
           {mkdir, "data"},
           {mkdir, "data/monitor"},
           {mkdir, "data/events"},
           {mkdir, "etc"},
           {mkdir, "etc/ssl"},
           {copy, "files/users.xml", "etc/users.xml"},
           {copy, "files/ssl/gen_certificates", "etc/ssl/gen_certificates"},

           % java server
           {mkdir, "java_apps"},
           {copy, "src/sysmo-java/sysmo-jserver/build/install/sysmo-jserver",
                "java_apps/sysmo-jserver"},
           {copy, "src/sysmo-java/sysmo-jserver/src/dist/sysmo-log.properties",
                "etc/sysmo-log.properties"},
           {copy, "src/sysmo-java/sysmo-jserver/src/dist/sysmo-rrd.properties",
                "etc/sysmo-rrd.properties"},
           {copy, "src/sysmo-java/sysmo-jserver/src/dist/sysmo-web.properties",
                "etc/sysmo-web.properties"},
           {copy, "src/sysmo-java/sysmo-jserver/src/dist/sysmo-mail.properties",
                "etc/sysmo-mail.properties"},

           % nchecks definitions
           {copy, "src/sysmo-java/shared/nchecks/src/dist/defs", "docroot/nchecks"},
           {copy, "src/sysmo-java/shared/nchecks/src/dist/defs", "etc/nchecks"},

           % nchecks jruby scripts
           {mkdir, "ruby"},
           {copy, "src/sysmo-java/shared/nchecks/ruby/*.rb", "ruby"},
           {copy, "src/sysmo-java/shared/nchecks/ruby/*.xml", "docroot/nchecks"},
           {copy, "src/sysmo-java/shared/nchecks/ruby/*.xml", "etc/nchecks"},

           {mkdir, "utils"},
           % portable ping is installed with the rakefile

           {mkdir, "log/sasl"},
           {copy, "files/erl", "\{\{erts_vsn\}\}/bin/erl"},
           {copy, "files/nodetool", "releases/\{\{rel_vsn\}\}/nodetool"},
           {copy, "sysmo/bin/start_clean.boot",
                  "\{\{erts_vsn\}\}/bin/start_clean.boot"},
           {copy, "files/sysmo", "bin/sysmo"},
           {copy, "files/sysmo.cmd", "bin/sysmo.cmd"},
           {copy, "files/start_erl.cmd", "bin/start_erl.cmd"},
           %% Following line may be safely removed in new projects
           {copy, "files/install_upgrade.escript", "bin/install_upgrade.escript"},
           {copy, "files/sys.config", "releases/\{\{rel_vsn\}\}/sys.config"},
           {copy, "files/vm.args", "releases/\{\{rel_vsn\}\}/vm.args"}
          ]}.
