%% -*- mode: erlang -*-
%% ex: ft=erlang
{sys, [
       {lib_dirs, []},
       {erts, [{mod_cond, derived}, {app_file, strip}]},
       {app_file, strip},
       {rel, "sysmo", "1.0",
        [
         kernel,
         stdlib,
         sasl,
         sysmo
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "sysmo"},
       {profile, embedded},
       {incl_cond, derived},
       {excl_archive_filters, [".*"]}, %% Do not archive built libs
       {excl_sys_filters, ["^bin/(?!start_clean.boot)",
                           "^erts.*/bin/(dialyzer|typer)",
                           "^erts.*/(doc|info|include|lib|man|src)"]},
       {excl_app_filters, ["\.gitignore"]},
       {app, sysmo, [{mod_cond, app}, {incl_cond, include},
                                            {lib_dir, "src/erlang/sysmo"}]},
       {app, equartz, [{mod_cond, app}, {incl_cond, include},
                                            {lib_dir, "src/erlang/equartz"}]},
       {app, errd4j,  [{mod_cond, app}, {incl_cond, include},
                                            {lib_dir, "src/erlang/errd4j"}]},
       {app, monitor, [{mod_cond, app}, {incl_cond, include},
                                            {lib_dir, "src/erlang/monitor"}]},
       {app, nchecks, [{mod_cond, app}, {incl_cond, include},
                                            {lib_dir, "src/erlang/nchecks"}]},
       {app, snmpman, [{mod_cond, app}, {incl_cond, include},
                                            {lib_dir, "src/erlang/snmpman"}]},
       {app, supercast, [{mod_cond, app}, {incl_cond, include},
                                            {lib_dir, "src/erlang/supercast"}]},

       %% bad erlang hipe
       {app, hipe, [{incl_cond, exclude}]}

      ]}.

{target_dir, "sysmo"}.

{overlay, [
           % myfiles begin
           {mkdir, "docroot"},
           {mkdir, "data"},
           {mkdir, "data/monitor"},
           {mkdir, "etc"},
           {mkdir, "etc/ssl"},
           {copy, "files/users.xml", "etc/users.xml"},
           {copy, "files/ssl/gen_certificates", "etc/ssl/gen_certificates"},

           % java applications
           {mkdir, "java_apps"},
           {copy, "src/java/errd4j/build/install/errd4j",   "java_apps/errd4j"},
           {copy, "src/java/nchecks/build/install/nchecks", "java_apps/nchecks"},
           {copy, "src/java/snmpman/build/install/snmpman", "java_apps/snmpman"},
           {copy, "src/java/equartz/build/install/equartz", "java_apps/equartz"},
           {copy, "src/java/errd4j/build/install/errd4j/errd4j.properties",
                                                        "etc/errd4j.properties"},
           {copy, "src/java/nchecks/build/install/nchecks/nchecks.properties",
                                                       "etc/nchecks.properties"},
           {copy, "src/java/snmpman/build/install/snmpman/snmpman.properties",
                                                       "etc/snmpman.properties"},
           {copy, "src/java/equartz/build/install/equartz/equartz.properties",
                                                       "etc/equartz.properties"},
           % nchecks definitions
           {copy, "src/java/nchecks/build/install/nchecks/defs",
                                                         "docroot/nchecks"},
           {copy, "src/java/nchecks/build/install/nchecks/defs",
                                                         "etc/nchecks"},
           % nchecks jruby scripts
           {copy, "src/java/nchecks/build/install/nchecks/ruby",
                                                         "ruby"},

           {mkdir, "utils"},
           % portable ping is installed with the rakefile

           {mkdir, "log/sasl"},
           {copy, "files/erl", "\{\{erts_vsn\}\}/bin/erl"},
           {copy, "files/nodetool", "releases/\{\{rel_vsn\}\}/nodetool"},
           {copy, "sysmo/bin/start_clean.boot",
                  "\{\{erts_vsn\}\}/bin/start_clean.boot"},
           {copy, "files/sysmo", "bin/sysmo"},
           {copy, "files/sysmo.cmd", "bin/sysmo.cmd"},
           {copy, "files/start_erl.cmd", "bin/start_erl.cmd"},
           %% Following line may be safely removed in new projects
           {copy, "files/install_upgrade.escript", "bin/install_upgrade.escript"},
           {copy, "files/sys.config", "releases/\{\{rel_vsn\}\}/sys.config"},
           {copy, "files/vm.args", "releases/\{\{rel_vsn\}\}/vm.args"}
          ]}.
