[
    {ifs,
        [
            {ifs_apps, [
%                {ifs_app_record,
%                   target, 
%                   target_api_ifs, 
%                   modTargetsPDU,
%                   [],         % channels
%                   ["admin"]}
            ]},
            {registered_events, [activity_events]},
            {ifs_auth,  bifs_auth_ldap},
            {tcp_client, [
                {enabled, true},
                {port, 8888},
                {maxconn, 50},
                {encoder, bifs_encoder_asn}
            ]},
            {ssl_client, [
                {enabled, true},
                {ssl_conf,  "lib/ifs/ssl.conf"},
                {port, 4443},
                {maxconn, 50},
                {encoder, bifs_encoder_asn}
            ]}
        ]
    },
    {esnmp,
        [
            {registered_events, [activity_logger]}
        ]
    },
    {target,
        [
            {registered_events, [activity_logger]},
            {db_dir, "var/target"},
            {rrd_dir, "var/target/rrd"}
        ]
    },
    {snmp,
        [
            {manager,
                [
                    {versions, [v1,v2,v3]},
                    {config,
                        [
                            {dir, "lib/esnmp/priv/snmp/manager"},
                            {db_dir, "lib/esnmp/priv/snmp/manager"}
                            %{verbosity, debug}
                        ]
                    },
                    {def_user_mod,  esnmp_user_default},
                    {def_user_data, esnmp_user_default},
                    {net_if,
                            [
                                {module, esnmp_net_if}
                                %{verbosity, trace}
                            ]
                    }
                ]
            },
            {agent,
                [
                    {config, [{dir, "lib/esnmp/priv/snmp/agent"}]},
                    {db_dir, "lib/esnmp/priv/snmp/agent"},
                    {versions, [v3]}
                ]
            }
        ]
    },
    {kernel,
        [
            {start_dist_ac, false},
            {inet_dist_listen_min, 9000},
            {inet_dist_listen_max, 9000}
        ]
    },
    {sasl,
        [
            {sasl_error_logger, {file, "var/sasl/sasl.log"}}
        ]
    }
].
