[
    {supercast,   
        [
            {auth_module,   bsupercast_auth_ldap},
            {acctrl_module, bsupercast_acctrl_rbac},

            % if a PDU come from client with asn_key, switch it to the module
            % implementing the supercast_module_behaviour.
            {pdu_dispatch, 
                [
                    % {supercast_module_behaviour, asn_key}
                    {tracker_api, modTrackerPDU} 
                ]
            },

            % this is the initial list of channels for the client. It must be
            % the entry point for all other channels. For example, once
            % the client subscribe to the tracker channel, this one will
            % tell the client wich chan he knows about, and wich chans
            % disapear. This module can also be a simple "beha_supercast_channel" 
            % module.
            {main_channels,
                [
                    % in this case, tracker serve as a channel information
                    % source and give to clients basic informations and alerts
                    % that do not need subscribtion to specific channels. Note
                    % that this atom is in fact the registered name of 
                    % tracker_master_channel in this example.
                    'target-MasterChan'
                ]
            },

            {tcp_client, 
                [
                    {enabled, true},
                    {port, 8888},
                    {maxconn, 50},
                    {encoder, bsupercast_encoder_asn}
                ]
            },
            {ssl_client, 
                [
                    {enabled, true},
                    {ssl_conf,  "cfg/ssl/ssl.conf"},
                    {port, 4443},
                    {maxconn, 50},
                    {encoder, bsupercast_encoder_asn}
                ]
            }
        ]
    },
    {
        errd,
            [
                {command, "/opt/rrdtool-1.4.8_SERVER/bin/rrdtool"}
            ]
    },
    {tracker,
        [
            {config_file,           "cfg/tracker.conf"},
            {targets_data_dir,      "var/tracker"},
            {master_chan_read_perm, ["admin"]},
            {probe_modules, 
                [
                    btracker_probe_nagios
                ]
            }
        ]
    },
    {kernel,
        [
            {start_dist_ac, false},
            {inet_dist_listen_min, 9000},
            {inet_dist_listen_max, 9000}
        ]
    },
    {sasl,
        [
            {sasl_error_logger, {file, "var/sasl/sasl.log"}}
        ]
    }
].
