[
    {kernel,
        [
            {start_dist_ac, false},
            {inet_dist_listen_min, 9000},
            {inet_dist_listen_max, 9000}
        ]
    },
    {mod_ifs,
        [
            {ifs_auth,  bifs_auth_ldap},
            {tcp_client, [
                {enabled, true},
                {port, 8888},
                {maxconn, 50},
                {encoder, bifs_encoder_asn}
            ]},
            {ssl_client, [
                {enabled, true},
                {ssl_conf,  "mod_ifs-0.1.0/ssl.conf"},
                {port, 4443},
                {maxconn, 50},
                {encoder, bifs_encoder_asn}
            ]}
        ]
    },
    {mnesia,
        [    
            {dir, "mod_esnmp-0.2.0/priv/mnesia"}
        ]
    },
    {snmp,
        [
            {manager,
                [
                    {versions, [v1,v2,v3]},
                    {config,
                        [
                            {dir, "mod_esnmp-0.2.0/priv/snmp/manager"},
                            {db_dir, "mod_esnmp-0.2.0/priv/snmp/manager"}
                            %{verbosity, debug}
                        ]
                    },
                    {def_user_mod,  esnmp_user_default},
                    {def_user_data, esnmp_user_default},
                    {net_if,
                            [
                                {module, esnmp_net_if}
                                %{verbosity, trace}
                            ]
                    }
                ]
            },
            {agent,
                [
                    {config, [{dir, "mod_esnmp-0.2.0/priv/snmp/agent"}]},
                    {db_dir, "mod_esnmp-0.2.0/priv/snmp/agent"},
                    {versions, [v3]}
                ]
            }
        ]
    }
].
