[Unit]
Description=Sysmo Core server daemon
After=network.target remote-fs.target nss-lookup.target

[Service]
Type=forking
User=sysmo-nms
TimeoutStartSec=120s
TimeoutStopSec=120s
GuessMainPID=false
ExecStart=/usr/lib64/sysmo-nms/bin/sysmo start
ExecStop=/usr/lib64/sysmo-nms/bin/sysmo stop

[Install]
WantedBy=multi-user.target
