body {
    color: black;
    background-color: white;
    font-family: Tahoma, Verdana, "Times New Roman", Times, sans-serif;
    font-size: small;
    line-height: 1.3em;
    margin: 5px;
    padding: 0;
}

ul#main_menu_list {
    width: 100%;
    height: 30px;
    margin: 2em 0 0 0;
    padding: 0;
    background-color: #ffffff;
    border: 1px dashed black;
    list-style-type: none;
}

ul#main_menu_list li {
    padding: 0 0.5em;
    line-height: 30px
}

ul#main_menu_list li.left {
    float: left;
    border-right: 1px dashed black;
}

ul#main_menu_list li.right {
    float: right;
    border-left: 1px dashed black;
}

ul#main_menu_list a {outline: 0; text-decoration: none;}}
ul#main_menu_list a:hover {text-decoration: underline; color: green}
ul#main_menu_list a:visited {color: black}
ul#main_menu_list a:visited:hover {text-decoration: underline; color: green}
ul#main_menu_list a:link {color: black}
