[
    {mnesia,
        [    
            {dir, "/home/seb/src/nms_project-0.1.0/ifsmod_esnmp-0.1.0/priv/mnesia"}
        ]
    },
    {snmp,
        [
            {manager,
                [
                    {versions, [v1,v2,v3]},
                    {config,
                        [
                            {dir, "/home/seb/src/nms_project-0.1.0/ifsmod_esnmp-0.1.0/priv/snmp/manager"},
                            {db_dir, "/home/seb/src/nms_project-0.1.0/ifsmod_esnmp-0.1.0/priv/snmp/manager"}
%                            {verbosity, debug}
                        ]
                    },
                    {def_user_mod,  esnmp_user_default},
                    {def_user_data, esnmp_user_default},
                    {net_if,
                            [
                                {module, esnmp_net_if}
%                                {verbosity, trace}
                            ]
                    }
                ]
            },
            {agent,
                [
                    {config, [{dir, "/home/seb/src/nms_project-0.1.0/ifsmod_esnmp-0.1.0/priv/snmp/agent"}]},
                    {db_dir, "/home/seb/src/nms_project-0.1.0/ifsmod_esnmp-0.1.0/priv/snmp/agent"},
                    {versions, [v3]}
                ]
            }
        ]
    }
].
