%% -*- mode: erlang -*-
%% ex: ft=erlang
[
    {kernel,
        [
            {error_logger, {file, "log/sysmo.log"}}
        ]
    },
    {sysmo,
        [
            {data_dir, "data"},
            {java_dir, "java_apps"},
            {log_dir,  "log"},
            {conf_dir, "etc"}

        ]
    },
    {supercast,
        [
            {auth_module,   supercast_auth_xml},
            {acctrl_module, supercast_acctrl_rbac},
            {pdu_dispatch,
                [{monitor_controler, "monitor"}]
            },
            {main_channels,
                ['monitor_main']
            },

            {http_port, 8080},
            {http_docroot, "docroot"},
            {tcp_port, 9758}
        ]
    },
    {monitor,
        [
            {master_chan_read_perm, ["admin"]},
            {master_chan_write_perm, ["admin"]},
            {targets_data_dir,      "data/monitor"},
            {http_sync_dir,         "docroot/sync"},
            {alert_commands, []}
        ]
    },
    {sasl, [
         {sasl_error_logger, {file, "log/sasl-error.log"}},
         {errlog_type, error},
         {error_logger_mf_dir, "log/sasl"},      % Log directory
         {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
         {error_logger_mf_maxfiles, 5}           % 5 files max
        ]
    },
    {mnesia,
        [
            {dir,   "data/mnesia"},
            {debug, none}
        ]
    }
].
