[
    {nchecks, 
        [
            {java_node, 
                [
                    {java_com,
"c:/ProgramData/Oracle/Java/javapath/java.exe -cp java_bin/;java_lib/OtpErlang.jar io.sysmo.nchecks.NChecks >nchecks.log 2>&1"
                    }
                ]
            }
        ]
    }
].
