[
    {sysmo,
        [
            {data_dir, "data"},
            {java_dir, "java_apps"},
            {log_dir,  "log"},
            {conf_dir, "etc"}
        ]
    },
    {supercast,
        [
            {auth_module,   supercast_users_xml},
            {acctrl_module, supercast_acctrl_rbac},
            {pdu_dispatch,
                [{monitor_commander, "monitor"}]
            },
            {main_channels,
                ['target-MasterChan']
            },

            {tcp_client,
                [
                    {enabled, true},
                    {port,    8888},
                    {maxconn, 50},
                    {encoder, supercast_encoder_json}
                ]
            },
            {ssl_client,
                [
                    {enabled, false},
                    {ssl_conf, [
                        {certificate,   "etc/ssl/certificate.pem"},
                        {caCertificate, "etc/ssl/request.pem"},
                        {key,           "etc/ssl/key.pem"}
                    ]},
                    {port, 4443},
                    {maxconn, 50},
                    {encoder, supercast_encoder_json}
                ]
            },
            {http_sync_dir, "/var/www/sysmo"},
            {http_port,     8080},
            {http_use_ssl,  false}
        ]
    },
    {monitor,
        [
            {master_chan_read_perm, ["admin"]},
            {master_chan_write_perm, ["admin"]},
            {targets_data_dir,      "data/monitor"},
            {alert_commands, []}
        ]
    },
    {sasl, [
         {sasl_error_logger, {file, "log/sasl-error.log"}},
         {errlog_type, error},
         {error_logger_mf_dir, "log/sasl"},      % Log directory
         {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
         {error_logger_mf_maxfiles, 5}           % 5 files max
        ]
    },
    {mnesia,
        [
            {dir,       "data/mnesia"},
            {debug,     none}
        ]
    },
    {snmpman, 
        [
            {java_node, 
                [
                    {java_com,
"java_apps/snmpman/bin/snmpman > log/snmpman.log 2>&1"
                    }
                ]
            }
        ]
    },
    {errd4j, 
        [
            {java_node, 
                [
                    {java_com,
"java_apps/errd4j/bin/errd4j > log/errd4j.log 2>&1"
                    }
                ]
            }
        ]
    },
    {nchecks, 
        [
            {java_node, 
                [
                    {java_com,
"java_apps/nchecks/bin/nchecks > log/nchecks.log 2>&1"
                    }
                ]
            }
        ]
    },
    {equartz, 
        [
            {java_node, 
                [
                    {java_com,
"java_apps/equartz/bin/equartz > log/equartz.log 2>&1"
                    }
                ]
            }
        ]
    }
].

