[Unit]
Description=Sysmo Core server daemon
After=network.target

[Service]
ExecStart=/usr/lib64/sysmo-nms/bin/sysmo start
ExecReload=/usr/lib64/sysmo-nms/bin/sysmo reboot
ExecStop=/usr/lib64/sysmo-nms/bin/sysmo stop
User=sysmo-nms
KillMode=process
Restart=on-failure
RestartSec=42s

[Install]
WantedBy=multi-user.target
