%% -*- mode: erlang -*-
%% ex: ft=erlang
{sys, [
       {lib_dirs, []},
       {erts, [{mod_cond, derived}, {app_file, strip}]},
       {app_file, strip},
       {rel, "sysmo", "1.0",
        [
         kernel,
         stdlib,
         sasl,
         sysmo
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "sysmo"},
       {profile, embedded},
       {incl_cond, derived},
       {excl_archive_filters, [".*"]}, %% Do not archive built libs
       {excl_sys_filters, ["^bin/(?!start_clean.boot)",
                           "^erts.*/bin/(dialyzer|typer)",
                           "^erts.*/(doc|info|include|lib|man|src)"]},
       {excl_app_filters, ["\.gitignore"]},
       {app, sysmo, [{mod_cond, app}, {incl_cond, include}, {lib_dir, ".."}]},
       {app, equartz, [{mod_cond, app}, {incl_cond, include}, {lib_dir, "../lib/equartz"}]},
       {app, errd4j, [{mod_cond, app}, {incl_cond, include}, {lib_dir, "../lib/errd4j"}]},
       {app, monitor, [{mod_cond, app}, {incl_cond, include}, {lib_dir, "../lib/monitor"}]},
       {app, nchecks, [{mod_cond, app}, {incl_cond, include}, {lib_dir, "../lib/nchecks"}]},
       {app, snmpman, [{mod_cond, app}, {incl_cond, include}, {lib_dir, "../lib/snmpman"}]},
       {app, supercast, [{mod_cond, app}, {incl_cond, include}, {lib_dir, "../lib/supercast"}]},

       %% bad erlang
       {app, hipe, [{incl_cond, exclude}]}
      ]}.

{target_dir, "sysmo"}.

{overlay, [
           % myfiles begin
           {mkdir, "var"},
           {mkdir, "var/docroot"},
           {mkdir, "var/docroot/nchecks"},
           {mkdir, "var/monitor"},
           {mkdir, "cfg"},
           {mkdir, "cfg/nchecks"},
           % myfiles end

           {mkdir, "log/sasl"},
           {copy, "files/erl", "\{\{erts_vsn\}\}/bin/erl"},
           {copy, "files/nodetool", "releases/\{\{rel_vsn\}\}/nodetool"},
           {copy, "sysmo/bin/start_clean.boot",
                  "\{\{erts_vsn\}\}/bin/start_clean.boot"},
           {copy, "files/sysmo", "bin/sysmo"},
           {copy, "files/sysmo.cmd", "bin/sysmo.cmd"},
           {copy, "files/start_erl.cmd", "bin/start_erl.cmd"},
           %% Following line may be safely removed in new projects
           {copy, "files/install_upgrade.escript", "bin/install_upgrade.escript"},
           {copy, "files/sys.config", "releases/\{\{rel_vsn\}\}/sys.config"},
           {copy, "files/vm.args", "releases/\{\{rel_vsn\}\}/vm.args"}
          ]}.
